<div class="admin-container">
    <h1>Add New Section</h1>
    <form action="/admin/sections" method="POST" class="admin-form">
        <div class="form-group">
            <label>Section Name</label>
            <input type="text" name="name" required>
        </div>
        <div class="form-group">
            <label>Museum</label>
            <select name="museumId" required>
                <% museums.forEach(museum=> { %>
                    <option value="<%= museum._id %>">
                        <%= museum.name %>
                    </option>
                    <% }) %>
            </select>
        </div>
        <button type="submit" class="btn-primary">Add Section</button>
    </form>
</div>